.containerWhoiAm{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.containerTextWhoIam{
    display: flex;
    align-items: center;
    width: 50vw;
    
}
.textClassName{
    font-size: 40px;
    text-align: justify;
}
.classNameImage{
    width: 450px;
    height: 550px;
    border: 2px solid orange;
    border-radius: 10px;
}